.footer {
    border-top: 1px solid var(--secondary);
    padding: 2rem 0;
    margin-top: 4rem;
    color: var(--secondary);
    font-size: 0.8rem;
    text-align: center;
}

.footer-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 2rem;
}